#post_list
{
  margin-top:5rem;
}
body{
    background-color: #306d85;
}
.users
{
  font-weight: bold;
  color : yellow;
}
.users:hover
{
  color:yellow;
}
a
{
  color:white;
}
a:hover{
  color: orange;
}
