#form-group-1
{
  margin-top: 5em;
}
.forms{
  display:inline-block;
  width:18%;
}
#topic-class{
  margin-top: 5em;
  display:inline-block;
  float : right;
  width:30%;
}
#topic{
  width:125%;
}
@media(max-width: 652px)
{
  .forms{
    width:100%;
    text-align: center;
  }
  #topic-class{
    margin-top:0em;
    width:100%;
    text-align: center;
  }
  #topic{
    width:100%;
  }
}
